<body class="text-center">
 
  <%= form_tag sessions_path, class: 'form-signin' do |form| %>

      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    
	  <%# <h1 class="h3 mb-3 font-weight-normal">Please Login</h1> %>

	  <%# <label for="inputText" class="sr-only">Company ID</label> %>
      <%# <input type="text" id="inputText" class="form-control" placeholder="Company ID" required> %>
	  <%# <%= label_tag :slug, 'Company', for: 'exampleInputEmail1' %>
	  <%= text_field_tag :slug, '', id: 'exampleInputEmail1', class: 'form-control', placeholder: 'Company ID', required: true %>

	  <%# <label for="inputEmail" class="sr-only">Email address</label> %>
	  <%# <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required> %>
	  <%# <%= label_tag :email, 'E-mail', for: 'email' %>
	  <%= email_field_tag :email,'', id: 'email', class: 'form-control', placeholder: 'Email', required: true %>

	  <%# <label for="inputPassword" class="sr-only">Password</label> %>
      <%# <input type="password" id="inputPassword" class="form-control" placeholder="Password" required> %>
	  <%# <%= label_tag :slug, 'Company', for: 'exampleInputEmail1' %>
	  <%# <%= label_tag :password, 'Password', for: 'password' %>
	  <%= password_field_tag :password,'', id: 'password', class: 'form-control', placeholder: 'Password', required: true %>

	  <%= submit_tag 'Login', class: 'btn btn-lg btn-primary btn-block' %>
      <%# <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button> %>
      <p class="mt-5 mb-3 text-muted">&copy; Pearson Media 2020</p>

	<% end %>
</body>