<div class="text-center">
  	
	  <%= form_tag sessions_path, method: 'post', autocomplete: 'off', class: 'form-signin' do |form| %>

		<img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    
		<%= render template: 'commons/messages.html.erb' %>

		<%= text_field_tag :slug, '', id: 'slug', class: 'form-control', placeholder: 'Company ID', required: false %>

		<%= email_field_tag :email,'', id: 'email', class: 'form-control', placeholder: 'Email', required: false %>

		<%= password_field_tag :password,'', id: 'password', class: 'form-control', placeholder: 'Password', required: false %>

		<%= submit_tag 'Login', class: 'btn btn-lg btn-primary btn-block' %>

    	<p class="mt-5 mb-3 text-muted">&copy; Pearson Media 2020</p>

	<% end %>

</div>