

<div class="row">

    <div class="col-md-3 mb-3">
        <label for="country">Stories</label>
            
            <div class="d-block">

              <% if !@my_stories.nil? && @my_stories == 'true' %>

                <%= link_to 'All', root_url, class: 'btn btn-outline-primary' %>
              
                <%= link_to 'My Stories', root_url + '?ms=true', class: 'btn btn-primary' %>

              <% else %>

                <%= link_to 'All', root_url, class: 'btn btn-primary' %>

                <%= link_to 'My Stories', root_url + '?ms=true', class: 'btn btn-outline-primary' %>
              
              <% end %>

            </div>

    </div>

    <div class="col-md-3 mb-3">
    
        <label for="writer_or_reviewer">Writer or Reviewer</label>
            
        <select class="form-control selectpicker" id="writer_or_reviewer" required="">
    
            <option value="all">All Writers</option>
    
            <% @writers.each do |writer| %>
    
            <option value="<%=writer.id%>" <%= @writer_or_reviewer == writer.id ? 'selected' : '' %> ><%=writer.name%></option>
    
            <% end %>

        </select>
    
        <div class="invalid-feedback">
            Please select a valid country.
        </div>
    
    </div>

    <div class="col-md-3 mb-3">
    
        <label for="status">Status</label>

        <select id="status" class="form-control selectpicker" >
    
            <option value="all">All Status</option>
            <option value="unassigned" <%= @status == 'unassigned' ? 'selected' : '' %> >Unassigned</option>
            <option value="draft" <%= @status == 'draft' ? 'selected' : '' %> >Draft</option>
            <option value="for_review" <%= @status == 'for_review' ? 'selected' : '' %> >For Review</option>
            <option value="in_review" <%= @status == 'in_review' ? 'selected' : '' %> >In Review</option>
            <option value="pending" <%= @status == 'pending' ? 'selected' : '' %> >Pending</option>
            <option value="approved" <%= @status == 'approved' ? 'selected' : '' %>>Approved</option>
            <option value="published" <%= @status == 'published' ? 'selected' : '' %> >Published</option>
            <option value="archived" <%= @status == 'archived' ? 'selected' : '' %> >Archived</option>
    
        </select>
            
        <div class="invalid-feedback">
            Please provide a valid state.
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <% if current_user.type == 'ChiefEditor' %>
            <%= link_to 'New Story', stories_new_path, class: 'py-4  w-100 btn btn-outline-primary float-right' %>
        <% end %>
    </div>

</div>

<%= render template: 'commons/messages.html.erb' %>

<div class="row mb-2">

<% if @pagination.total_of_records > 0 %>

    <% @stories.each do |story| %>

    <div class="col-md-12">
    
        <div class="card flex-md-row mb-4 box-shadow">
        
            <div class="card-body d-block block-column align-items-start">
        
                <div class="mb-1">
            
                    <div class="d-inline-block text-muted">
                        Story <%= story.id %>
                    </div>

                    <div class="float-right d-block">

                      <% if story.status == 'unassigned' %>

                        <div class="btn btn-sm btn-light">
                            Unassigned

                    <% elsif story.status == 'draft' %>

                        <div class="btn btn-sm btn-secondary">
                            Draft

                    <% elsif story.status == 'for_review' %>

                        <div class="btn btn-sm btn-primary">
                            For Review

                    <% elsif story.status == 'in_review' %>

                        <div class="btn btn-sm btn-warning">
                            In Review

                    <% elsif story.status == 'pending' %>

                        <div class="btn btn-sm btn-warning">
                            Pending

                    <% elsif story.status == 'approved' %>

                        <div class="btn btn-sm btn-secondary">
                            Approved

                    <% elsif story.status == 'published' %>

                        <div class="btn btn-sm btn-success">
                            Published

                    <% elsif story.status == 'archived' %>

                        <div class="btn btn-sm btn-dark">
                            Archived

                    <% end %>
                
                        </div>
              
                    </div>
            
                </div>

                <h3 class="mb-2">

                    
                    <a class="text-dark" href="#">
                        <% if story.headline.eql?('') %>
                            Untitled <%= story.id %>
                        <% else %>
                            <%= story.headline %>
                        <% end %>
                        
                    </a>
                </h3>
                
                <p class="blog-post-meta text-dark">

                    <% if !story.writer.nil? %>
                
                    Writer <a href="<%= root_path + '?writer=' + story.writer.id.to_s %>"><%= story.writer.name%></a> 

                    <% else %>

                    Writer <a href="">Not Assigned</a> 

                    <% end %>
                    
                    <span class="text-muted">.</span> 

                    <% if !story.reviewer.nil? %>
                
                    Reviewer <a href="<%= root_path + '?writer=' + story.reviewer.id.to_s %>"><%= story.reviewer.name%></a>

                    <% else %>

                    Reviewer <a href="">Not Assigned</a> 

                    <% end %>
                    
                    <% if story.status.eql?('published') || story.status.eql?('approved') %>
                    <span class="float-right">

                        On: <%= l story.created_at, format: :date %>
                        
                    </span>
                    <% end %>

                </p>
            
                <div class="d-flex justify-content-between align-items-center ">
                    <div class="btn-group">
                        <%= link_to 'Edit', root_path + 'stories/' + story.id.to_s + '/edit' , class: 'btn btn-sm btn-outline-secondary' %>
                    </div>
                </div>

                <% if story.status.eql?('published') %>
                
                <div class="content">

                    <div class="content-control text-center">
                        
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down bt-open" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M3.204 5L8 10.481 12.796 5H3.204zm-.753.659l4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                        </svg>

                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-up bt-close" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
                        </svg>

                    </div>
                    
                    <div class="story-content">
                        <%=story.body%>
                    </div>

                </div>

                <% end %>
        
            </div>

        </div>

    </div>

    <% end %>

        <div class="col-md-12">

            <%= render template: 'commons/pagination.html.erb' %>    

        </div>

    <% else %>

        <div class="col-md-12">
        
            <div class="card inline-md-row mb-4 box-shadow">
            
                <div class="text-center card-body d-inline flex-column">
            
                    <div class="text-muted">No stories</div>
            
                </div>
                  
            </div>

        </div>

    <% end %>
    
</div>
    

