

<div class="row">

    <div class="col-md-3 mb-3">
        <label for="country">Stories</label>
            
            <div class="d-block">

              <% if !@my_stories.nil? && @my_stories == 'true' %>

                <%= link_to 'All', root_url, class: 'btn btn-outline-primary' %>
              
                <%= link_to 'My Stories', root_url + '?ms=true', class: 'btn btn-primary' %>

              <% else %>

                <%= link_to 'All', root_url, class: 'btn btn-primary' %>

                <%= link_to 'My Stories', root_url + '?ms=true', class: 'btn btn-outline-primary' %>
              
              <% end %>

            </div>

    </div>

    <div class="col-md-3 mb-3">
    
        <label for="writer_or_reviewer">Writer or Reviewer</label>
            
        <select class="form-control selectpicker" id="writer_or_reviewer" required="">
    
            <option value="">All Writers</option>
    
            <% @writers.each do |writer| %>
    
            <option value="<%=writer.id%>" <%= @writer_or_reviewer == writer.id ? 'selected' : '' %> ><%=writer.name%></option>
    
            <% end %>

        </select>
    
        <div class="invalid-feedback">
            Please select a valid country.
        </div>
    
    </div>

    <div class="col-md-3 mb-3">
    
        <label for="status">Status</label>

        <select id="status" class="form-control selectpicker" >
    
            <option value="">All Status</option>
            <option value="unassigned" <%= @status == 'unassigned' ? 'selected' : '' %> >Unassigned</option>
            <option value="draft" <%= @status == 'draft' ? 'selected' : '' %> >Draft</option>
            <option value="for_review" <%= @status == 'for_review' ? 'selected' : '' %> >For Review</option>
            <option value="in_review" <%= @status == 'in_review' ? 'selected' : '' %> >In Review</option>
            <option value="pending" <%= @status == 'pending' ? 'selected' : '' %> >Pending</option>
            <option value="approved" <%= @status == 'approved' ? 'selected' : '' %>>Approved</option>
            <option value="published" <%= @status == 'published' ? 'selected' : '' %> >Published</option>
            <option value="archived" <%= @status == 'archived' ? 'selected' : '' %> >Archived</option>
    
        </select>
            
        <div class="invalid-feedback">
            Please provide a valid state.
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <% if current_user.type == 'ChiefEditor' %>
            <%= link_to 'New Story', stories_new_path, class: 'py-4  w-100 btn btn-outline-primary float-right' %>
        <% end %>
    </div>

</div>

<%= render template: 'commons/messages.html.erb' %>



<div class="row mb-2">

<% if @pagination.total_of_records > 0 %>

    <% @stories.each do |story| %>

    <div class="col-md-12">
    
        <div class="card flex-md-row mb-4 box-shadow">
        
            <div class="card-body d-block block-column align-items-start">
        
                <div class="mb-1">
            
                    <div class="d-inline-block text-muted">
                        Story <%= story.id %>
                    </div>

                    <div class="float-right d-block">

                      <% if story.status == 'unassigned' %>

                        <div class="btn btn-sm btn-light">
                            Unassigned

                    <% elsif story.status == 'draft' %>

                        <div class="btn btn-sm btn-secondary">
                            Draft

                    <% elsif story.status == 'for_review' %>

                        <div class="btn btn-sm btn-primary">
                            For Review

                    <% elsif story.status == 'in_review' %>

                        <div class="btn btn-sm btn-warning">
                            In Review

                    <% elsif story.status == 'pending' %>

                        <div class="btn btn-sm btn-warning">
                            Pending

                    <% elsif story.status == 'approved' %>

                        <div class="btn btn-sm btn-secondary">
                            Approved

                    <% elsif story.status == 'published' %>

                        <div class="btn btn-sm btn-success">
                            Published

                    <% elsif story.status == 'archived' %>

                        <div class="btn btn-sm btn-dark">
                            Archived

                    <% end %>
                
                        </div>
              
                    </div>
            

                </div>

                <h3 class="mb-1">
                    <a class="text-dark" href="#"><%= story.headline %></a>
                </h3>

                <p class="card-text mb-auto mb-2"><%= story.body %></p>
            
                <div class="d-flex justify-content-between align-items-center py-4">
                    <div class="btn-group">
                        <%= link_to 'Edit', root_path + 'stories/' + story.id.to_s + '/edit' , class: 'btn btn-sm btn-outline-secondary' %>
                    </div>
                </div>
        
            </div>
        

        </div>


    </div>

    <% end %>

        <div class="col-md-12">

            <%= render template: 'commons/pagination.html.erb' %>    

        </div>

    <% else %>

        <div class="col-md-12">
        
            <div class="card inline-md-row mb-4 box-shadow">
            
                <div class="text-center card-body d-inline flex-column">
            
                    <div class="text-muted">No stories</div>
            
                </div>
                  
            </div>

        </div>

    <% end %>
    
</div>
    

