<div class="row">

    <div class="col-md-10 mb-3">

        <%= link_to 'Home', root_url  %>

        <span>/</span>

        <span><%=@story.headline%></span>

    </div>

    <div class="col-md-2">

        <div class="float-right d-block">
                        
            <%= render template: 'stories/labels.erb', locals: { story: @story } %>
                        
        </div>

    </div>

</div>

<%= render template: 'commons/messages.html.erb' %>

<%= form_tag root_url + 'stories/' + @story.id.to_s + '/update', id: 'edit', class: 'needs-validation', autocomplete: 'off' do |form| %>

    <div class="row mb-2">

        <div class="col-md-12">
                
            <button class="btn btn-warning btn-lg btn-block" type="submit">N</button>
                
            <div class="mb-3">
                    
                <%= label_tag :slug, 'Headline', for: 'headline' %>

                <% if (current_user.id == @story.reviewer_id) || ( @story.status.eql?('for_review') || @story.status.eql?('in_review')  || @story.status.eql?('approved') || @story.status.eql?('published') || @story.status.eql?('archived') ) %>
                
                    <%= text_field_tag :disabled_headline,  @story.headline, id: 'disabled-headline', class: 'form-control', placeholder: 'Write a headline...', required: false, disabled: true %>
                    <%= hidden_field_tag :headline,  @story.headline, id: 'headline' %>
                
                <% else %>

                    <%= text_field_tag :headline,  @story.headline, id: 'headline', class: 'form-control', placeholder: 'Write a headline...', required: false %>
                
                <% end %>
                
                <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
                </div>

            </div>
        </div>
    </div>

    <div class="row">
                    
        <div class="col-md-6 mb-3">

            <%= label_tag :writer_id, 'Writer', for: 'writer_id' %>

            <% if current_user.is_chief_editor? && ( !@story.status.eql?('approved') && !@story.status.eql?('archived') && !@story.status.eql?('published') ) %>
                
                <select name="writer_id" id="writer_id" class="selectpicker form-control">
                            
                    <option value="">Select a Writer</option>                    
                            
                    <% @writers.each do |writer| %>

                        <% if ( !@writer.nil? ) && ( @writer.id == writer.id )  %>
                            
                            <option value="<%=writer.id%>" selected><%=writer.name%></option>
                            
                        <% else %>
                            
                            <option value="<%=writer.id%>"><%=writer.name%></option>
                            
                        <% end %>

                    <% end %>

                </select>

            <% else %>
                
                <%= text_field_tag :disabled_writer_id,  @writer.name, id: 'disabled-writer-id', class: 'form-control', disabled: true %>
                <%= hidden_field_tag :writer_id,  @story.writer_id, id: 'writer_id', class: 'form-control' %>

            <% end %>

            <div class="invalid-feedback">
                Please select a valid country.
            </div>

        </div>

        <div class="col-md-6 mb-3">
                    
            <%= label_tag :reviewer_id, 'Reviewer', for: 'reviewer_id' %>
                    
            <% if current_user.is_chief_editor? && ( !@story.status.eql?('approved') && !@story.status.eql?('archived') && !@story.status.eql?('published') ) %>

                <select name="reviewer_id" id="reviewer_id" class="selectpicker form-control">
                        
                    <option value="">Select a Reviewer</option>

                    <% @writers.each do |writer| %>

                        <% if ( !@reviewer.nil? ) && ( @reviewer.id == writer.id )  %>
                                    
                            <option value="<%=writer.id%>" selected><%=writer.name%></option>
                                    
                        <% else %>
                                    
                            <option value="<%=writer.id%>"><%=writer.name%></option>
                                
                        <% end %>

                    <% end %>

                </select>

            <% else %>

                <%= text_field_tag :disabled_reviewer_id,  @reviewer.name, id: 'disabled-reviewer-id', class: 'form-control', disabled: true %>
                <%= hidden_field_tag :reviewer_id,  @story.reviewer_id, id: 'reviewer_id', class: 'form-control' %>

            <% end %>

            <div class="invalid-feedback">
                Please provide a valid state.
            </div>
                        
        </div>

    </div>

    <div class="mb-3">
                    
        <%= label_tag :body, 'Story', for: 'body' %>

        <% if (current_user.id == @story.reviewer_id) || @story.status.eql?('for_review') || @story.status.eql?('approved') || @story.status.eql?('published') || @story.status.eql?('archived') %>
                    
            <textarea id="disabled-body" name="disabled_body" class="form-control" aria-label="With textarea" placeholder="Write a story..." disabled><%=@story.body%></textarea>
            <%= hidden_field_tag :body,  @story.reviewer_id, id: 'body', class: 'form-control' %>

        <% else %>
                    
            <!-- DISABLED -->
            <textarea id="body" name="body" class="form-control" aria-label="With textarea" placeholder="Write a story..."><%=@story.body%></textarea>


        <% end %>

        <div class="invalid-feedback">
            Please enter your shipping address.
        </div>

    </div>

<% end %>
    

<div class="row">

    <% if @story.status == 'draft' %>

        <% if @story.writer_id == current_user.id %>

            <%= render template: 'stories/draft_controls.erb' %>

        <% else %>
            
            <div class="col-md-6 mb-3">
            </div>

        <% end %>

    <% elsif @story.status == 'for_review' %>
        
        <% if @story.reviewer_id == current_user.id %>
            
            <%= render template: 'stories/for_review_controls.erb' %>

        <% else %>
            
            <div class="col-md-6 mb-3">
            </div>

        <% end %>
            
    <% elsif @story.status == 'in_review' %>

        <% if @story.reviewer_id == current_user.id %>
                
            <%= render template: 'stories/in_review_controls.erb' %>
            
        <% else %>
            
        <div class="col-md-6 mb-3">
        </div>

        <% end %>

    <% elsif @story.status == 'approved' %>

        <% if current_user.is_chief_editor? %>

            <%= render template: 'stories/approved_controls.erb' %>

        <% else %>
            
            <div class="col-md-6 mb-3">
            </div>

        <% end %>

    <% elsif @story.status == 'published' %>

        <% if current_user.is_chief_editor? %>
                
            <%= render template: 'stories/published_controls.erb' %>

        <% else %>
            
            <div class="col-md-6 mb-3">
            </div>

        <% end %>

    <% else %>
            
        <div class="col-md-6 mb-3">
        </div>

    <% end %>

    <% if ( !@story.status.eql?('approved') && !@story.status.eql?('archived') && !@story.status.eql?('published') )  %>
        
        <% if current_user.is_chief_editor? || (current_user.id == @writer.id) %>

            <%= render template: 'stories/main_controls.erb' %>

        <% end %>

    <% end %>
            
</div>

<%= render template: 'comments/comments.html.erb' %>